.root {
    background-color: #EBF8B8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #fff;
    height: 520px;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    border-radius: 15px;
    padding: 25px;
}

.title {
    font-size: 25px;
    font-weight: bold;
}

.message {
    font-size: 13px;
    color: #292929;
    font-weight: 500;
}

.error-message {
    font-size: 15px;
    color: var(--main-bg-error);
}

.message a {
    cursor: pointer;
    color: var(--main-bg-green);
    &:hover {
        border-bottom: 1px solid var(--main-bg-green) ;
    }
}