.input-root {
    width: 100%;
}

.input-index {
    display: flex;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.input-error {
    margin-left: 5px;
    margin-top: 5px;
    font-size: 11px;
    color: var(--main-bg-error);
}

.input-error i {
    padding-right: 5px;
}

.has-error {
    border: 1px solid var(--main-bg-error);
}

.input {
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 24px;
    border-radius: 8px;
    height: 22px;
    font-size: 16px;
    
}

.input-index i {
    width: 60px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #aaa;
    &:hover {
        color: #000;
    }
}