.index {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label {
    font-size: 15px;
    font-weight: 500;
}

.input {
    border: 1px solid #ddd;
    padding: 8px 24px;
    border-radius: 8px;
    height: 22px;
    font-size: 16px;
}