.btn {
    background-color: #087E8B;
    border: none;
    padding: 10px;
    height: 45px;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
        background-color: var(--main-bg-greeno);
    }
}