.creator-index {
    padding: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.creator-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.creator-content {
    margin-top: 55px;
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}