.navbar {
    background-color: var(--main-bg-green);
    padding: 15px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 140px;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}

.navigation {
    display: flex;
    gap: 15px;
    font-size: 15px;
    margin-right: 35px;
}

.navigation a {
    border-radius: 5px;
    padding: 7px;
}

.navigation a:hover {
    background-color: #fff;
    cursor: pointer;
    color: var(--main-bg-green);
}