.table-index {
    background-color: var(--main-bg-yellow);
    height: 475px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.table-header {
    font-weight: 600;
    height: 30px;
    padding: 12px;
    font-size: 14px;
    color: #aaa;
    border-radius: 5px 5px 0 0px;
    border-bottom: 1px solid #ddd;
}

.table-content {
    height: 440px;
    overflow-y: auto;
}

.table-row {
    padding: 12px;
    font-size: 12px;
    font-weight: 500;
    border-bottom: 1px solid #ddd;
    &:hover {
        background-color: rgba(238,238,238, .5);
    }
}

.table-footer {
    height: 25px;
    padding: 12px;
    display: flex;
    font-size: 12px;
    justify-content: flex-end;
}

.tbl-column {
    width: 23%;
    text-align: right;
}

.tbl-column-tiny {
    width: 8%;
    padding-right: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    height: 17px;
    
}
.mr-15 {
    margin-right: 15px;
}

.col-left {
    text-align: left;
}