@import "./assets/globals.css";

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; 
  height: 100vh;
  font-family: system-ui, sans-serif; 
  font-family: Georgia, serif; 
  font-family: Menlo, monospace; 
}

.position-end{
  position: absolute;
  left: calc(80vw - 2px);
  top: calc(90vh - 2px);
}

.page-content {
  width: 70vw;
  margin: auto;
  height: 100%;
}