@import "./assets/globals.css";

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; 
  height: 100vh;
  /* Tailwind default */
  font-family: system-ui, sans-serif; /* Para `font-sans` */
  font-family: Georgia, serif; /* Para `font-serif` */
  font-family: Menlo, monospace; /* Para `font-mono` */
}