@import "./assets/globals.css";

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; 
  height: 100vh;
  font-family: system-ui, sans-serif; 
  font-family: Georgia, serif; 
  font-family: Menlo, monospace; 
}

.color-white {
  color: white;
}

.flex-sp-cen {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.position-end{
  position: absolute;
  left: calc(80vw - 2px);
  top: calc(85vh - 2px);
}

.page-content {
  width: 70vw;
  margin: auto;
  height: 100%;
}

.page-title {
  font-size: 30px;
  color: var(--main-bg-green);
  font-weight: 600;
  padding: 15px;
  margin-top: 30px;
}

.page-subtitle {
  font-size: 23px;
  color: var(--main-bg-green);
  font-weight: 700;
  padding: 15px;
  margin-top: 20px;
}